{{> navbar}}
<header id="header" class="header">
  <div class="header-content">
    <div class="container">
      <h2 class="text-center">Selecciona las plataformas de mensajería</h2>
      <form action="/solicitud" method="get">
      <div class="row text-center">
          {{#each socialNetworks }}
           <div class="col-lg-4 mb-3">
          <input type="checkbox" id="cbtest{{id}}" name="{{name}}" />
          <label for="cbtest{{id}}" class="check-box"></label>
          <h5><i class="{{icon}}"></i> {{name}}</h5>
          <p>
            {{description}}
          </p>
          <!-- Button trigger modal -->
          <a data-toggle="modal" data-target="#exampleModal{{id}}" href="#" role="button">Ver consideraciones</a>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Chatbot en {{name}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h6>Requisitos</h6>
                  <ul>
                    {{#each requirements }}
                    <li>{{this}}</li>
                    {{/each}}
                  </ul>
                  <h6>Otras consideraciones</h6>
                  <ul>
                    {{#each considerations }}
                    <li>{{this}}</li>
                    {{/each}}
                  </ul>
                  <h6>Puedes encontrar información adicional en:</h6>
                  <ul>
                    {{#each additionalInfo }}
                    <li>{{this}}</li>
                    {{/each}}
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Entendido!</button>
                </div>
              </div>
            </div>
          </div>
        </div> 
          {{/each}}
      </div>
       <button type="submit" class="btn btn-success btn-lg btn-block mt-3">Continuar</button>
      </form>
    </div>
  </div>
</header>
{{> footer}}